.custom-lobby-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 40, 40, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Trebuchet MS, sans-serif;
}

.input-lobby-code {
  position: absolute;
  outline: none;
  border: inherit;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  top: 40%;
  left: 50%;
  /* width: 17rem;
  height: 2rem; */
  width: 272px;
  height: 32px;
  transform: translate(-50%, -50%);
  background-color: rgb(240, 240, 240);
  /* padding: 0.5rem 1rem;
  border-radius: 1rem; */
  padding: 8px 16px;
  border-radius: 16px;
}

.enter-lobby-button {
  position: absolute;
  user-select: none;
  border: inherit;
  font-size: 16px;
  color: rgba(240, 240, 240, 1);
  /* top: calc(40% + 3rem); */
  top: calc(40% + 48px);
  /* width: 8rem;
  height: 2rem; */
  width: 128px;
  height: 32px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
  /* border-radius: 1rem; */
  border-radius: 16px;
  cursor: pointer;
}

.enter-lobby-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.enter-lobby-button:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: default;
}

.create-lobby {
  /* left: calc(50% - 4.5rem); */
  left: calc(50% - 72px);
}

.join-lobby {
  /* left: calc(50% + 4.5rem); */
  left: calc(50% + 72px);
}

.leave-lobby-button {
  position: absolute;
  user-select: none;
  border: inherit;
  font: inherit;
  color: rgba(240, 240, 240, 1);
  /* top: calc(40% + 7rem);
  left: 50%; */
  width: 8rem;
  height: 2rem;
  transform: translate(-50%, -50%);
  background-color: rgba(90, 10, 10, 1);
  padding: 0;
  border-radius: 1rem;
  cursor: pointer;
}

.leave-lobby-button:hover {
  background-color: rgba(100, 10, 10, 1);
}

.start-game-button {
  position: absolute;
  user-select: none;
  border: inherit;
  font: inherit;
  color: rgba(240, 240, 240, 1);
  top: calc(100% - 4rem);
  left: calc(50% - 5rem);
  width: 8rem;
  height: 2rem;
  transform: translate(-50%, -50%);
  background-color: rgba(10, 90, 10, 1);
  padding: 0;
  border-radius: 1rem;
  cursor: pointer;
}

.start-game-button:hover {
  background-color: rgba(10, 100, 10, 1);
}

.start-game-button:disabled {
  background-color: rgba(90, 90, 90, 1);
  cursor: default;
}

.input-username {
  position: absolute;
  outline: none;
  border: inherit;
  font: inherit;
  color: rgba(0, 0, 0, 0.7);
  top: 3rem;
  left: calc(50% - 31rem);
  width: 30rem;
  height: 2rem;
  background-color: rgb(240, 240, 240);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.players-container {
  position: absolute;
  top: 5.75rem;
  left: calc(50% - 31rem);
  width: 30rem;
  height: 20rem;
  color: rgba(210, 210, 210, 1);
  border: rgba(100, 100, 100, 1) solid 1px;
  border-radius: 0.5rem;
  overflow-y: auto;
}

.players-container::-webkit-scrollbar {
  display: none;
}

.player-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  background-color: rgba(40, 40, 40, 1);
}

.player-row:nth-child(odd) {
  background-color: rgba(50, 50, 50, 1);
}

.player-row:not(:last-child) {
  border-bottom: rgba(100, 100, 100, 1) solid 1px;
}

.player-row:first-child {
  position: sticky;
  top: 0;
}

.player-list-title {
  font: inherit;
  user-select: none;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.player-name-container {
  display: flex;
  align-items: center;
}

.player-name {
  font: inherit;
  user-select: none;
  text-align: left;
  max-width: 10.5rem;
  padding-left: 0.75rem;
  margin-right: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spectate-button {
  font: inherit;
  user-select: none;
  font-size: 0.75rem;
  color: rgba(120, 120, 120, 1);
  background-color: transparent;
  border: rgba(120, 120, 120, 1) solid 1px;
  border-radius: 0.25rem;
  min-width: 5.2rem;
  padding: 0.1875rem 0.625rem;
  cursor: pointer;
  overflow: hidden; 
  white-space: nowrap;
}

.player-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.75rem;
  overflow: hidden;
  flex-wrap: nowrap;
}

@media (max-width: 1000px) {
  .players-container {
    width: 25rem;
    left: calc(50% - 26rem);
  }

  .input-username {
    width: 25rem;
    left: calc(50% - 26rem);
  }

  .player-name {
    max-width: 8.75rem;
  }

  .spectate-button {
    font-size: 0.625rem;
  }

  .player-actions {
    font-size: 0.625rem;
  }
}

/* .kick-button {
  font: inherit;
  user-select: none;
  color: rgba(190, 10, 10, 1);
  height: 75%;
  background-color: transparent;
  border: rgba(190, 10, 10, 1) solid 1px;
  border-radius: 0.25rem;
  margin-right: 0.75rem;
  cursor: pointer;
} */

.kick-button {
  font: inherit;
  user-select: none;
  color: rgba(210, 210, 210, 1);
  background-color: rgba(120, 10, 10, 1);
  min-width: 3rem;
  border: none;
  border-radius: 1rem;
  padding: 0.1875rem 0.625rem;
  margin-right: 0.5rem;
  cursor: pointer;
  overflow: hidden; 
  white-space: nowrap;
}

.kick-button:hover {
  background-color: rgba(140, 10, 10, 1);
}

.player-icon {
  font: inherit;
  user-select: none;
  text-align: center;
  color: rgba(210, 210, 210, 1);
  border: none;
  border-radius: 1rem;
  padding: 0.1875rem 0.625rem;
  margin-right: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
}

.host {
  background-color: rgba(10, 120, 180, 1);
  min-width: 3em;
}

.in-game {
  background-color: rgba(10, 180, 120, 1);
  min-width: 4.5em;
}

.spectator {
  background-color: rgb(120, 120, 120);
  min-width: 4.5em;
}

.settings-container {
  position: absolute;
  top: 5.75rem;
  left: calc(50% + 1rem);
}

.settings-row {
  display: flex;
  background-color: rgba(60, 60, 60, 1);
  height: 2rem;
  margin-bottom: 0.75rem;
  align-items: center;
  border-radius: 0.5rem;
}

.password {
  position: absolute;
  top: 3rem;
  left: calc(50% + 1rem);
}

.password-input {
  font: inherit;
  outline: none;
  color: rgba(40, 40, 40, 1);
  border: none;
  background-color: rgba(220, 220, 220, 1);
  height: 100%;
  width: 13rem;
  padding-left: 0.5rem;
}

.password-input:disabled {
  opacity: 0.7;
}

.password-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(60, 60, 60, 1);
  background-color: rgba(220, 220, 220, 1);
  opacity: 0.7;
  width: 2rem;
  height: 100%;
  border-radius: 0 0.5rem 0.5rem 0;
}

.settings-label {
  font: inherit;
  user-select: none;
  color: rgba(180, 180, 180, 1);
  text-align: left;
  padding-left: 0.75rem;
  width: 10rem;
}

.settings-dropdown {
  font: inherit;
  outline: none;
  color: rgba(40, 40, 40, 1);
  border: rgba(220, 220, 220, 1) solid 1px;
  background-color: rgba(220, 220, 220, 1);
  height: 100%;
  width: 15rem;
  padding-left: 0.25rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

@media (max-width: 1000px) {
  .settings-label {
    width: 9rem;
  }

  .settings-dropdown {
    width: 11rem;
  }

  .password-input {
    width: 9rem;
  }
}

.switch-container {
  position: relative;
  user-select: none;
  display: inline-block;
  left: 0.25rem;
  width: 2.6rem;
  height: 1.5rem;
}

.switch-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(180, 180, 180, 1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.1rem;
  width: 1.1rem;
  left: 0.2rem;
  top: 0.2rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgba(0, 70, 180, 1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.1rem);
  -ms-transform: translateX(1.1rem);
  transform: translateX(1.1rem);
}

.slider.round {
  border-radius: 1.5rem;
}

.slider.round:before {
  border-radius: 50%;
}

.hidden {
  display: none !important;
}
